{{ template "base" . }}

{{ define "title" }} RPS Web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Diego Marin</h2>
                <p>
                    Soy ingeniero de sistemas con experiencia en desarrollo front y back
                </p>
                <p>
                    Me apasionan los video juegos, la musica, y la tecnologia
                </p>
                <p>
                    Ademas soy padre de una linda hija y tambien me gusta el futbol.
                </p>
                <p>
                    Si tienes alguna duda contactame en mis redes sociales y sitio web.
                </p>
                <ul class="py-3">
                    <li><a href="www.kronossolucionestic.com">Sitio web</a></li>
                    <li><a href="https://www.instagram.com/kronossolucionestic/">Instagram</a></li>
                    <li><a href="https://github.com/KronosSolucionesTIC">GitHub</a></li>
                    <li><a href="https://www.youtube.com/@KronosSolucionesTIC">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}